<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/chat.css">
    <title>Chatting with</title>
</head>
<body>
    <h1>chatting qwith</h1>

    <ul class="match-block-container">
        <li class="match-block-link">
            <a class="match-block" href="#">
                <img class="match-image" src="https://cdn130.picsart.com/274506323021201.jpg?r1024x1024" alt="">
                <div class="match-block-text">
                    <h3 class="match-name">Name</h3>
                    <p class="last-message">bla die blabla...</p>
                </div>
                </a>
        </li>
        <li class="match-block-link">
            <a class="match-block" href="#">
                <img class="match-image" src="https://cdn130.picsart.com/274506323021201.jpg?r1024x1024" alt="">
                <div class="match-block-text">
                    <h3 class="match-name">Name</h3>
                    <p class="last-message">bla die blabla...</p>
                </div>
                </a>
        </li>
    </ul>
    <p class="test-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum voluptatem deleniti! Amet, cum? Quae accusamus repellat beatae recusandae reiciendis!</p>
    <button class="test-button">sendington</button>
    <script src="/scripts/client-socket.js"></script>
</body>
</html>